# Server
PORT=3000

# App
NODE_ENV=development
APP_KEY=

# Database
DB_USERNAME=habu_user
DB_PASSWORD=habu_password
DB_DATABASE=habu_db
DB_HOST=localhost
DB_PORT=5436
DB_SSL=false
DATABASE_URL=postgresql://habu_user:habu_password@localhost:5436/habu_db